In [11]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
import joblib

In [2]:
df = pd.read_csv('data/Salaries.csv')

In [3]:
df.head()

       rank discipline  yrs.since.phd  yrs.service   sex  salary
0      Prof          B             19           18  Male  139750
1      Prof          B             20           16  Male  173200
2  AsstProf          B              4            3  Male   79750
3      Prof          B             45           39  Male  115000
4      Prof          B             40           41  Male  141500

In [16]:
df.describe()

       yrs.since.phd  yrs.service         salary
count     397.000000   397.000000     397.000000
mean       22.314861    17.614610  113706.458438
std        12.887003    13.006024   30289.038695
min         1.000000     0.000000   57800.000000
25%        12.000000     7.000000   91000.000000
50%        21.000000    16.000000  107300.000000
75%        32.000000    27.000000  134185.000000
max        56.000000    60.000000  231545.000000

In [5]:
reg = RandomForestRegressor(random_state=42)

In [6]:
reg.fit(df[['yrs.since.phd', 'yrs.service']], df['salary'])

RandomForestRegressor(random_state=42)

In [10]:
reg.feature_importances_

array([0.65876165, 0.34123835])

In [14]:
reg.predict(df[['yrs.since.phd', 'yrs.service']])[0]

128922.53999999996

In [15]:
joblib.dump(reg, 'model/model.pkl')

['model/model.pkl']